:root {
  --side-bar--width: 240px;
  --hand-height: 200px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: black;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 0;
  left: 0;

  background-image: url("./asset/bg.jpg");
  background-size: cover;

  /* Temporarily Added */
  color: white;
}

aside.side-bar {
  width: var(--side-bar--width);
  height: 100%;

  display: block;

  position: absolute;
  top: 0;

  background-color: rgba(0, 0, 0, 0.2);
}

.side-bar.left {
  left: 0;
}

.side-bar.right {
  right: 0;
}

main.main-board {
  width: 100%;
  height: 100%;

  display: block;

  padding-left: var(--side-bar--width);
  padding-right: var(--side-bar--width);
}
